<br><br><br><br><br>
<div class="col-md-3 col-md-offset-4">
  <div class="account-box">
  <h1>Correct!!!</h1>
    <hr>
    <form action='/flashcards/index' method='get'>
  <input class="btn btn-md btn-success" type='submit' name='continue' value='Next Card!' >
</form>
  </div>
</div>
