<div>
  <h1>Are you sure you want to DELETE card number <%=@flashcard.id%>?!</h1>
</div>

<div>
  <form action='/flashcards/confirm_delete/<%=@flashcard.id%>' method='post'>
    <input type='submit' name='delete' value='DELETE IT ALREADY'>
    <input type='submit' name='delete' value='CANCEL'>
  </form>
</div>
