<br><br><br><br><br>

<div class="col-md-3 col-md-offset-4">
  <div class="account-box">
      <p class="question pull-left">Are you sure you want to DELETE card number <%=@flashcard.id%>?!</p>
      <form action='/flashcards/confirm_delete/<%=@flashcard.id%>' method='post'>
        <input class="btn btn-md btn-danger" type='submit' name='delete' value='DELETE IT ALREADY'>
        <input type='submit' class = "btn btn-md btn-success pull-right" name='delete' value='CANCEL'>
      </form>
  </div>
</div>
