<div>
  <!-- <h1>Are you sure you want to delete card number <%=@card%>?!</h1> -->
  <h1>You are at the edit page for card number <%=@flashcard.id%>!</h1>
</div>

<div>
  <form action='/flashcards/confirm_delete/<%=@flashcard.id%>' method='post'>
    <input type='submit' name='id' value='OK'>
  </form>
</div>

