<div>
  <h1>Wrong. Sadface.</h1>
</div>

<div>
  <form action='/flashcards/<%=@flashcard.id%>' method='get'>
    <input type='submit' name='retry' value='Try Again' >
  </form>
</div>
<div>
  <form action='/' method='get'>
    <input type='submit' name='continue' value='Next Card!' >
  </form>
</div>
