<br><br><br><br><br>
<div class="col-md-3 col-md-offset-4">
  <div class="account-box">
  <center><h1 style="color:red">Wrong.</h1><br><img class="img-responsive" src="/images/middle_finger.gif"></center>
    <hr>
    <div>
        <form action='/flashcards/<%=@flashcard.id%>' method='get'>
          <input class="btn btn-sm btn-info pull-left button" type='submit' name='retry' value='Try Again' >
        </form>


        <form action='/flashcards/index' method='get'>
          <input class="btn btn-sm btn-success pull-left" type='submit' name='continue' value='Next Card!' >
        </form>
    </div>
    <br><br>
  </div>
</div>
