<br><br><br><br><br>

<div class="col-md-3 col-md-offset-4">
  <div class="account-box">
      <div class="logo ">
          <h1>Flashy</h1>
      </div>

      <form action='/users/login' method='POST'>
      <input class="form-control" cols ="15" name='email' placeholder='Email'><br><br>
      <input class="form-control" name='password' type='password' placeholder='Password'><br><br>
      <input class="btn btn-md btn-success" type='submit' value='Login'>
    </form>


  </div>
</div>
